<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ichigotake.colorfulsweetssample"
    android:versionCode="0"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.ichigotake.colorfulsweetssample.SampleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.ActivityTransitSampleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.ichigotake.colorfulsweetssample.SampleActivity"/>
        </activity>

        <activity
            android:name=".view.paging.AutoPagingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.ichigotake.colorfulsweetssample.SampleActivity"/>
        </activity>

        <activity
            android:name=".preference.PreferenceSampleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.ichigotake.colorfulsweetssample.SampleActivity"/>
        </activity>

        <activity
            android:name=".menu.SimpleMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.ichigotake.colorfulsweetssample.SampleActivity"/>
        </activity>

        <activity
            android:name=".fragment.viewpager.SimpleViewPagerFragmentSampleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.ichigotake.colorfulsweetssample.SampleActivity"/>
        </activity>

    </application>

</manifest>
